#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2.5rem;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 8em;
  padding: 2em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2.5em #ffa726aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2.5em #42a5f5aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 10s linear;
  }
}

.card {
  padding: 2.5em;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.read-the-docs {
  color: #4f4f4f;
  font-weight: bold;
}
